html, body, div, button, canvas {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.container-img {
  position: absolute;
  width: 400px;
  bottom: 75px;
  left: 187px;
  display: none;
}

.intro-screen {
  position: absolute;
  top: 8px;
  width: 400px;
  /*bottom: 45px;*/
  left: 198px;
  /*display: none;*/
}

.replay {
  position: absolute;
  bottom: 155px;
  left: 87px;
  width: 75px;
  display: none;
}

.score {
  width: 155px;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 8px;
  left: 2px;
  color: white;
  display: none;
  background: #494848;
}

.score-label {
  display: block;
  text-align: left;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.score-num {
  display: block;
  float: right;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
}

.level {
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 8px;
  right: 2px;
  color: white;
  display: none;
  background: #494848;
}

.level-label {
  display: block;
  text-align: left;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.level-num {
  display: block;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.level-transition {
  position: absolute;
  width: 400px;
  top: 5%;
  left: 25%;
  display: none;
}

#canvas {
  background: url(./images/sky_1_2_1.png);
  -webkit-animation: backgroundScroll 40s linear infinite;
  animation: backgroundScroll 40s linear infinite;
  border: 1px solid black;
  /*background-position-y: -125px;*/
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -1600px 0;}
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -1600px 0;}
}
