html, body, div, button, canvas {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.container-img {
  position: absolute;
  width: 400px;
  bottom: 45px;
  left: 270px;
  display: none;
}

.replay {
  background: yellow;
  position: absolute;
  bottom: 45px;
  width: 75px;
}

.score {
  width: 155px;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  bottom: 8px;
  left: 2px;
  color: white;
  display: none;
}

.score-label {
  display: block;
  text-align: left;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.score-num {
  display: block;
  float: right;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
}

#canvas {
  /*background: #A3F4FF;*/
  /*background: url(./images/title.png);*/
  background: url(./images/bg.png);
  background-size: cover;
  /*background-position-y: -50px;*/
  border: 1px solid black;
}
